1 ICON "Icon.ico"

SMAA.fx RCDATA Shaders\SMAA.fx
SMAA.hlsl RCDATA "..\\..\\SMAA.hlsl"
Simple.fx RCDATA Shaders\Simple.fx

AreaTexDX10.dds RCDATA "..\\..\\Textures\\AreaTexDX10.dds"
SearchTex.dds RCDATA "..\\..\\Textures\\SearchTex.dds"

Unigine01.png RCDATA "..\\Media\\Unigine01.png"
Unigine02.png RCDATA "..\\Media\\Unigine02.png"
Unigine03.png RCDATA "..\\Media\\Unigine03.png"
Unigine04.png RCDATA "..\\Media\\Unigine04.png"
Unigine05.png RCDATA "..\\Media\\Unigine05.png"
Unigine06.png RCDATA "..\\Media\\Unigine06.png"
Unigine07.png RCDATA "..\\Media\\Unigine07.png"

Unigine01.dds RCDATA "..\\Media\\Unigine01.dds"
Unigine02.dds RCDATA "..\\Media\\Unigine02.dds"
Unigine03.dds RCDATA "..\\Media\\Unigine03.dds"
Unigine04.dds RCDATA "..\\Media\\Unigine04.dds"
Unigine05.dds RCDATA "..\\Media\\Unigine05.dds"
Unigine06.dds RCDATA "..\\Media\\Unigine06.dds"
Unigine07.dds RCDATA "..\\Media\\Unigine07.dds"

Fence.sdkmesh RCDATA "..\\Media\\Fence.sdkmesh"
DiffuseMap.dds RCDATA "..\\Media\\DiffuseMap.dds"
NormalMap.dds RCDATA "..\\Media\\NormalMap.dds"
EnvMap.dds RCDATA "..\\Media\\EnvMap.dds"
