1 ICON "Icon.ico"
	
MLAA.fx RCDATA Shaders\MLAA.fx

Unigine01.png RCDATA Media\Images\Unigine01.png
Unigine01.dds RCDATA Media\Images\Unigine01.dds

AreaMap9.dds RCDATA Media\AreaMap9.dds
AreaMap17.dds RCDATA Media\AreaMap17.dds
AreaMap33.dds RCDATA Media\AreaMap33.dds
AreaMap65.dds RCDATA Media\AreaMap65.dds
AreaMap129.dds RCDATA Media\AreaMap129.dds
